<section>
        <h1 id="about">Acerca de mí</h1>
        <div class="row about">
            <div id="image" class="card col-sm-3">
                  <img id="image-id" src="assets/imgs/perfil.webp" class="card-img-top" alt="personal image">
                  <div class="card-body">
                      <p class="card-text">Yeison Andrés Garzón Toro <br>Medellín - Colombia <br>Web/Mobile Developer</p>
                  </div>
            </div>
            <div class="col-sm-3">
                <h2 class="profile">Actualmente</h2>
                <p class="description">Estudio Ing. informática y trabajo de Freelance como desarrollador Full-Stack Web principalmente con Javascript y móvil con Dart/Flutter.</p>
            </div>
            <div class="col-sm-3">
                <h2 class="profile">Resumen personal</h2>
                <p class="description">Me considero una persona colaborativa, responsable, atenta, y muy competitiva en todos los ámbitos en los que me desenvuelvo.</p>
            </div>
            
            <div class="col-sm-3 padding">
                <h2 class="profile">Pasatiempos</h2>
                <h2>Programación</h2>
                <p class="description">La tecnología es de los temas más apasionantes para mí.
                    <br>Me gusta profundizar en el campo de la programación aprendiendo lenguajes nuevos y las mejores técnicas de desarrollo.</p>
            </div>
        </div>
        <div class="container div-quote">
            <div class="card">
                <div class="card-header">
                  Cita
                </div>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <p class="quote">Grandes resultados pueden ser conseguidos con pequeños esfuerzos.</p>
                    <footer class="blockquote-footer">Sun Tzu<cite title="Art of War - Sun Tzu"><b> El arte de la guerra</b></cite></footer>
                  </blockquote>
                </div>
              </div>
        </div>
    </section>
    <hr/>
    <section id="knowledge">
        <h1>Conocimientos</h1>
        <div class="row">
          <div class="col-sm-4">
            <h2>Lenguajes de programación</h2>
            <br>
            <div class="container list">
              <ul>
                <li>Javascript 
                  <div class="progress" >
                    <div class="progress-bar progress-bar-striped bg-warning" aria-label="Javascript technology"   role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                  </div>
                </li>
                <li>Java
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-warning" aria-label="Java technology"   role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                  </div>
                </li>
                <li>Typescript
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-warning" aria-label="Typescript technology"   role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                  </div>
                </li>
                <li>Dart
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-warning" aria-label="Dart technology"   role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
                  </div>
                </li>
                <li>C#
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-warning" aria-label="C# technology"   role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                  </div>
                </li>
                <li>PHP
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-warning" aria-label="PHP technology"   role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">40%</div>
                  </div>
                </li>
                <li>C
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-warning" aria-label="C technology"   role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4">
            <h2>Tecnologías o herramientas de programación</h2>
            <div class="container list">
              <ul>
                <li>Nodejs
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-dark" aria-label="NodeJS technology"   role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                  </div>
                </li>
                <li>Angular
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-dark" aria-label="Angular technology"   role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                  </div>
                </li>
                <li>Flutter
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-dark" aria-label="Flutter technology"   role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                  </div>
                </li>
                <li>Nestjs
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-dark" aria-label="NestJS technology"   role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                  </div>
                </li>
                <li>Reactjs
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-dark" aria-label="ReactJS technology"   role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                  </div>
                </li>
                <li>HTML5
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-dark" aria-label="HTML5 technology" aria-label="HTML5 technology"   role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                  </div>
                </li>
                <li>CSS/SCSS
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-dark" aria-label="CSS technology"   role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                  </div>
                </li>
                <li>Git
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-dark" aria-label="GIT technology"   role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4">
            <h2>Software skills</h2>
            <br>
            <div class="container list padding">
              <ul>
                <li>POO
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-danger" aria-label="POO"   role="progressbar" style="width: 99%" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100">99%</div>
                  </div>
                </li>
                <li>Events programming
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-danger" aria-label="Events programming"   role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                  </div>
                </li>
                <li>Data structures
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-danger" aria-label="Data structure"   role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                  </div>
                </li>
                <li>Class diagram
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-danger" aria-label="Class diagram design"   role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                  </div>
                </li>
                <li>Design patterns
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-danger" aria-label="Design patterns"   role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                  </div>
                </li>
                <li>SQL - NOSQL DBs
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-danger" aria-label="SQL - NOSQL data bases"   role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                  </div>
                </li>
                <li>Devops and Linux servers administration
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-danger" aria-label="DEVOPS knowledge"   role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                  </div>
                </li>
                <li>Good practices
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-danger" aria-label="Good practices"   role="progressbar" style="width: 99%" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100">99%</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </section>
    <hr/>
    <section>
        <h1 id="projects">Proyectos</h1>
        <home-projects></home-projects>
    </section>