<footer class="row">
    <div class="col-sm-6 paddings">
        <div class="row-sm padding-top d-flex justify-content-center">
            <div >
                <a href="mailto:garzontoroyeison@gmail.com" target="_blank" rel="nofollow" rel="noopener">
                    <fa-icon class="media" [icon]="faGoogle"></fa-icon>
                    <small>E-mail contact</small> 
                </a>
            </div>
            <div >
                <a href="https://www.facebook.com/yeison.toxicsa" target="_blank" rel="nofollow" rel="noopener">
                    <fa-icon class="media" [icon]="faFacebook"></fa-icon>
                    <small>Facebook social media</small>
                </a>
            </div>
            <div >
                <a href="https://www.instagram.com/yeison_dev/" target="_blank" rel="nofollow" rel="noopener">
                    <fa-icon class="media" [icon]="faInstagram"></fa-icon>
                    <small>Instagram social media</small> 
                </a>
            </div>
            <div >
                <a href="https://www.youtube.com/c/YeisonDev" target="_blank" rel="nofollow" rel="noopener">
                    <fa-icon class="media" [icon]="faYoutube"></fa-icon>
                    <small>Youtube social media</small> 
                </a>
            </div>
            <div >
                <a href="https://github.com/DevYeison" target="_blank" rel="nofollow" rel="noopener">
                    <fa-icon class="media" [icon]="faGithub"></fa-icon>
                    <small>Github contact</small> 
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 conditions padding-top">
        <a href="#">
            <h3>Privacy</h3>
        </a>
        <a href="#">
            <h3>Terms and conditions</h3>
        </a>
        <a href="#">
            <h3 class="padding">Cookies</h3>
        </a> 
    </div>
    <div class="sign">
        <a href="#">
            <h3 id="sign" class="padding">Yeison GT @2021</h3>
        </a>
    </div>
    
</footer>
