<div class="card">
    <img [src]="project.images[0]" [alt]="project.name" class="card-img-top img-fluid">
    <div class="card-body">
        <h4 class="card-title">{{project.name}}</h4>
        <p class="card-text">{{project.description}}</p>
        <p id="date" class="card-text">
            <small class="text-muted">{{project.finishDate | date:"MM/dd/yy"}}</small>
        </p>
        <div id="button">
            <a 
        [routerLink]="['/project', project._id]"
        class="btn btn-outline-warning btn-sm">See more...</a>
        </div>
        
    </div>
</div>