h1{
    text-align: center;
    padding: 5vh 0 5vh 0;
}
small{
    font-size: 2rem;
}
hr{
    width: 70%;
    margin-bottom: 10vh;
}

h6{
    text-align: center;
    font-weight: lighter;
    font-size: 1.3rem;
}

.image-fluid{
    width: 40vh;
    height: 40vh;
}

.description{
    text-align: center;
}

.col-sm-4{
    padding: 5vh 5vh 5vh 5vh;
}
.card:active{
    position: relative;
    left: 90%;
    top: 50%;
    transform: translate(-68%,-70%);
    width: 500px;
    z-index: 2;
}
#button{
   width: 100%;
   text-align: center;
   padding-bottom: 10vh;
   padding-top: 10vh;
}
a{
    width: 30vh;
    display: inline-block;
    text-align: center;
}

#projects{
    overflow-x: hidden;
}

@media only screen and (max-device-width: 320px){

    h6{
        font-size: 1.15rem;
        padding: 0 5vh 0 5vh;
    }

    .card:active{
        width: 450px;
    }
}