<h1>{{project.name | uppercase}} 
    <small>({{project.createdAt | date: "y"}})</small>
</h1>
<hr/>

<h6>{{project.description}}</h6>

<div class="card-columns">
    <div class="card" style="width: 25rem;" *ngFor="let img of project.images;">
        <img [src]="img" class="card-img-top" alt="app development image">
      </div>
</div>

<div id="button">
    <a [routerLink]="['/project']" class="btn" class="btn btn-outline-warning btn-block">
        Go Back
    </a>
</div>

<project-footer></project-footer>