$black-color:  #000000;
$white-color: #F6FEF4;
$yellow-color: #FFC107;

footer{
    background-color: $black-color;
    color: $white-color;
    width: 100%;
    margin: 0;
}

.media{
    color: $white-color;
    font-size: 1.4em;
    padding-top: 0.8em;
    padding-left: 1em;
    padding-bottom: 1em;
}

.media:hover{
    color: $yellow-color;
}

#sign{
    padding-top: 1rem;
    font-size: 0.85rem;
    color: $white-color;
    margin-bottom: 1.5rem;
}
#sign:hover{
    color: $yellow-color;
    text-decoration: none;
}

h6{
    padding-top: 1.2em;
    text-align: center;
    font-size: 1.2rem;
}

#conditions{
    padding-top: 1em;
}

a{
    color: $white-color;
    text-decoration: none;
}
a:hover{
    color: $yellow-color;
}

#indice{
    padding-top: 1em;
}

h5{
    font-size: 1.2rem;
    text-align: center;
}

h3{
    font-size: 1.2rem;
    text-align: center;
}

.padding{
    padding-bottom: 0.8rem;
}

@media only screen and (max-device-width: 320px ){
    h5{
        font-size: 1rem;
    }

    h3{
        font-size: 1rem;
    }

    h6{
        font-size: 1rem;
    }

    .media{
        font-size: 1.3em;
    }
}