<footer class="row">
    <div class="col-4">
        <h6 id="title"> Social Media</h6>
        <div class="row">
            <div class="col-3">
                <a href="mailto:garzontoroyeison@gmail.com" target="_blank">
                    <fa-icon class="media" [icon]="faGoogle"></fa-icon>
                </a>
            </div>
            <div class="col-3">
                <a href="https://www.facebook.com/yeison.toxicsa" target="_blank">
                    <fa-icon class="media" [icon]="faFacebook"></fa-icon>
                </a>
            </div>
            <div class="col-3">
                <a href="https://www.instagram.com/yeison_dev/" target="_blank">
                    <fa-icon class="media" [icon]="faInstagram"></fa-icon>
                </a>
            </div>
            <div class="col-3">
                <a href="https://www.youtube.com/c/YeisonDev" target="_blank">
                    <fa-icon class="media" [icon]="faYoutube"></fa-icon>
                </a>
            </div>
        </div>
        <a href="">
            <h5 id="sign" class="padding">Yeison GT @2021</h5>
        </a>
    </div>
    <div id="conditions" class="col-4">
        <a href="">
            <h5>Privacy</h5>
        </a>
        <a href="">
            <h5>Terms and conditions</h5>
        </a>
        <a href="">
            <h5 class="padding">Cookies</h5>
        </a> 
    </div>
    <div id="indice" class="col-4">
        <a href="#home">
            <h3>Home</h3>
        </a>
        <a href="#about">
            <h3>About me</h3>
        </a>
        <a href="#knowledge">
            <h3>Knowledge</h3>
        </a>
        <a href="#projects">
            <h3 class="padding">Projects</h3>
        </a>
    </div>
</footer>