<footer class="row">
    <div class="col-sm-4">
        <h1> Social Media</h1>
        <div  class="row d-flex justify-content-center">
            <div >
                <a href="mailto:garzontoroyeison@gmail.com" target="_blank" rel="nofollow" rel="noopener">
                    <fa-icon class="media" [icon]="faGoogle"></fa-icon>
                   <small>E-mail contact</small> 
                </a>
            </div>
            <div >
                <a href="https://www.facebook.com/yeison.toxicsa" target="_blank" rel="nofollow" rel="noopener">
                    <fa-icon class="media" [icon]="faFacebook"></fa-icon>
                    <small>Facebook social media</small>
                </a>
            </div>
            <div >
                <a href="https://www.instagram.com/yeison_dev/" target="_blank" rel="nofollow" rel="noopener">
                    <fa-icon class="media" [icon]="faInstagram"></fa-icon>
                   <small>Instagram social media</small> 
                </a>
            </div>
            <div >
                <a href="https://www.youtube.com/c/YeisonDev" target="_blank" rel="nofollow" rel="noopener">
                    <fa-icon class="media" [icon]="faYoutube"></fa-icon>
                    <small>Youtube social media</small> 
                </a>
            </div>
            <div >
                <a href="https://github.com/DevYeison" target="_blank" rel="nofollow" rel="noopener">
                    <fa-icon class="media" [icon]="faGithub"></fa-icon>
                    <small>Github contact</small> 
                </a>
            </div>
        </div>
        <a href="#">
            <h2 id="sign" class="padding">Yeison GT @2021</h2>
        </a>
    </div>
    <div id="indice" class="col-sm-4">
        <a href="#home">
            <h2>Home</h2>
        </a>
        <a href="#about">
            <h2>About me</h2>
        </a>
        <a href="#knowledge">
            <h2>Knowledge</h2>
        </a>
        <a href="#projects">
            <h2 class="padding">Projects</h2>
        </a>
    </div>
    <div id="conditions" class="col-sm-4">
        <a href="#">
            <h2>Privacy</h2>
        </a>
        <a href="#">
            <h2>Terms and conditions</h2>
        </a>
        <a href="#">
            <h2 class="padding">Cookies</h2>
        </a> 
    </div>
</footer>